.transparent-btn {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  background: rgba(75, 0, 130, 0.2);
  border: 1px solid #bc13fe;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.4s;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
}

.transparent-btn:hover {
  background: rgba(188, 19, 254, 0.3);
  box-shadow: 0 0 20px #bc13fe;
  transform: scale(1.03) skewX(-2deg);
}

.transparent-btn:active {
  transform: scale(0.92) skewX(-5deg);
  filter: brightness(1.5);
  box-shadow: 0 0 40px #bc13fe;
  transition: 0.05s;
}
