.main-title {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 4rem;
  text-shadow:
    0 0 10px #bc13fe,
    0 0 20px #8a2be2,
    0 0 40px #8a2be2;
}

@media (max-width: 768px) {
  .main-title {
    font-size: clamp(2rem, 10vw, 2.5rem);
    letter-spacing: 1px;
    text-align: center;
  }
}
