.sub-title {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom: 15px;
  color: transparent;
  font-size: 1.8rem;
  -webkit-text-stroke: 1px #bc13fe;
  text-shadow:
    0 0 8px rgba(188, 19, 254, 0.6),
    0 0 15px rgba(138, 43, 226, 0.4);
}

@media (max-width: 768px) {
  .sub-title {
    font-size: 1rem; /* הקטנת כותרת המשנה בהתאמה */
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #bc13fe; /* דיוק המסגרת למסך קטן */
  }
}
